
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }

    @import "@esri/calcite-components/dist/calcite/calcite.css";
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.esri-view {
    --esri-view-outline-color: var(--calcite-ui-brand) !important;
    --esri-view-outline: 0px solid var(--esri-view-outline-color) !important;
    --esri-view-outline-offset: -0px !important;
    --esri-view-outline-offset-focus: 0px !important;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
